
#container{
    border:2px solid red;
    width: 1800px;
    height: 910px;
    
}
#contenu{
    width: 1790px;
    height: 905px;
    border:2px solid green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header{
    border:2px solid yellow;
    width: 900px;
    height: 150px;


}
#corp{
    display: flex;
    flex-direction: column;
    /*je suis ici colum et row sur tout le corp */
    
    border:2px solid mediumspringgreen;
    width: 900px;
    height: 300px;
  
}
.corp_title{

}
.parent_vignette_c{
    border: 1px solid tomato;
}
.vignette_c{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    margin-right: 10px;
   

    
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    border:2px solid gray;
    width: 900px;
    height: 300px;

}
.vignette_f{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    margin-right: 10px;

}
